.App {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	background-color: #5e81ac;
	color: #eceff4;
	top: 0;
}

header > div > h1 {
	margin: auto;
}
header > div > h6 {
	margin: auto;
}
